.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.inner-container {
    min-width: 700px;
    padding: 20px;
    background-color: lightgray;
    border-radius: 5px;
}

.search-message {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    height: 100%;
}

.story-list-container {
    margin-top: 10px;
}

.button-container {
    margin-top: 10px;
    text-align: center;
}

button {
    margin-left: 5px;
    margin-right: 5px;
    width: 100px;
    border-radius: 5px;
}


h3 {
    text-align: center;
    font-family: Helvetica;
}

input {
    width: 75%;
    margin-right: 5px;
}
